scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/ttn-core
        create path (nt:unstructured) /content/dam/ttn-core/jcr:content
        set properties on /content/dam/ttn-core/jcr:content
        set cq:conf{String} to /conf/ttn-core
        set jcr:title{String} to \"TTN Core\"
        end
        "
]
